body,td,th {font-family: Arial Unicode MS, Code2000, Tahoma, Titus Cyberbit Basic, sans-serif}
.edit {font-family:Arial Unicode MS, Code2000, Tahoma, Titus Cyberbit Basic, sans-serif;font-size:100%}
.keyboard {cursor:hand;font-family:Arial Unicode MS, Code2000, Tahoma, Titus Cyberbit Basic, sans-serif;font-weight:normal;font-size:100%;height:25}
.quotation {font-weight:bold;font-style:italic;color:#306754}
.quotation A:link {color:#306754}
.quotation A:visited {color:#306754}
.quotation A:active {color:#306754}
.quotation A:hover {color:#306754}
.locution {font-weight:bold;font-style:italic;color:#086EB0}
.locution A:link {color:#086EB0}
.locution A:visited {color:#086EB0}
.locution A:active {color:#086EB0}
.locution A:hover {color:#086EB0}
.reference {font-size:80%}
.context {font-weight:normal;color:#6E6E6E}
.field {font-weight:normal;color:#BB9E66}
.ideogram {vertical-align:middle}
.dialect {vertical-align:-35%}
.menulist {line-height:200%;list-style-type:square}
.widemenulist {line-height:250%;list-style-type:square}
.langlist {line-height:170%;list-style-type:disc}
.compactlist {line-height:130%;list-style-type:disc}
.resetlist {line-height:120%;font-size:smaller}
.arabicfont {font-family:Arabic Transparent, Traditional Arabic, Simplified Arabic, Arial Unicode MS, Tahoma, Titus Cyberbit Basic, sans-serif;font-size:160%}
.hebrewfont {font-family:Code2000, Arial Unicode MS, David, Tahoma, Titus Cyberbit Basic, sans-serif;font-size:120%}
.syriacfont {font-family:Estrangelo Edessa, Titus Cyberbit Basic, sans-serif;font-size:140%}
.wordlink A:link {text-decoration: none}
.wordlink A:visited {text-decoration: none}
.wordlink A:active {text-decoration: none}
.wordlink A:hover {text-decoration: underline}
.semantics {color:#804000; font-style:italic}
